{{roomsForm.pristine | json}}
{{roomsForm.dirty | json}}
{{roomsForm.valid | json}}
{{roomsForm.invalid | json}}
{{roomsForm.value | json}}
<div *ngIf="successMessage !== '' " class="alert alert-success">
    {{successMessage | json}}
</div>

<form #roomsForm="ngForm" (ngSubmit)="AddRoom(roomsForm)">
    <div class="form-group">
        <input required class="form-control" type="text" name="roomType" [(ngModel)] = "room.roomType" placeholder="Room Type" [ngModelOptions] = "{ updateOn: 'blur' }"/>
    </div>
        <div class="form-group">
        <input #roomameneties="ngModel" required minlength="5" maxLength="20" class="form-control" type="text" name="amenities" [(ngModel)] = "room.amenities" placeholder="Amenities"/>
    <div class="alert alert-danger" *ngIf="roomameneties.errors?.['minlength']">
        Amenities should be min 5 chars!
    </div>
        <div class="alert alert-danger" *ngIf="roomameneties.dirty && roomameneties.errors?.['required']">
        Please Provide Room Amenities
    </div>
    <div>
                {{roomameneties.errors | json}}

    </div>
    </div>
        <div class="form-group">
        <input required class="form-control" type="number" name="price" [(ngModel)] = "room.price" placeholder="Room Price"/>
    </div>
    <div class="form-group">
        <input required class="form-control" type="text" name="photos" name="roomType" [(ngModel)] = "room.photos" placeholder="Photos (provide link)"/>
    </div>
        <div class="form-group">
        <input required class="form-control" type="datetime" name="checkinTime" [(ngModel)] = "room.checkinTime" placeholder="Check-in Time"/>
    </div>
        <div class="form-group">
        <input required class="form-control" type="datetime" name="checkouTime" [(ngModel)] = "room.checkoutTime" placeholder="Check-out Time"/>
    </div>
    <div class="form-group">
        <input required  min="1" max="5"  class="form-control" type="number" name="rating" [(ngModel)] = "room.rating" placeholder="Rating"/>
    </div>
    <div>
        <button [disabled]="roomsForm.invalid" class="btn btn-primary" type="submit">
            Submit
        </button>
    </div>
</form>