<form>
    <div class="form-group">
        <input #emailControl="ngModel" appEmailvalidator type="email"  class="form-control" name="email" [(ngModel)]="email" placeholder="provide your username">
        <div>
            {{emailControl.errors | json}}
        </div>
    </div>
        <div class="form-group">
           <input  type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="enter your password">
     
    </div>
        <div class="form-group">
        <button class="btn btn-primary" (click)="Login()">Login</button>
    </div>
</form>