
<!--
<h1>This you need to know!</h1>
<app-rooms></app-rooms>

<app-container>

  <app-employee>
    </app-employee> 
   <h1> This is from ng-content</h1>
</app-container>




-->
<!--
<div [ngSwitch]="role">
    <div *ngSwitchCase="'User'">
        Welcome User!
    </div>
    <div *ngSwitchCase="'Admin'">
        <app-rooms></app-rooms>
    </div>
    <div *ngSwitchDefault>
        Not Allowed!
    </div>
</div>

-->

<a [routerLink]="'rooms'">Rooms</a>
<a [routerLink]="'employee'">Employee</a>

<app-nav></app-nav>
